/* Configurações Globais */
body {
    background-color: #d1bbbb;
    color: #00aaff;
width:100%;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #00aaff, 0 0 20px #00aaff;
}

p {
    line-height: 1.6;
    font-size: 1.2em;
    text-shadow: 0 0 5px #00aaff;
}

#sobre p:hover {
    color: #ffffff;
    cursor: pointer;
}

/* Estilo do Header */
header {
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(135deg, #000000 0%, #222222 100%);
    border-bottom: 2px solid #00aaff;
}

header h1 {
    font-size: 3em;
    animation: glow 1.5s ease-in-out infinite alternate;
}

header p {
    font-size: 1.5em;
}

/* Menu de Navegação */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px 0;
    background-color: #111111;
    margin: 0;
    border-bottom: 2px solid #00aaff;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #00aaff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #ffffff;
}

/* Seções */
section {
    padding: 50px 20px;
    text-align: center;
}

#sobre {
    background: linear-gradient(135deg, #3f3e3e 0%, #000000 100%);
}

#ferramentas {
    background-color: #000000;
}

.ferramentas-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.ferramenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00aaff;
    border: 3px solid #00aaff;
    padding: 20px;
    width: 150px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-color: #000000;
    border-radius: 5px;
}

.ferramenta i {
    font-size: 3em;
    margin-bottom: 10px;
}

.ferramenta p {
    margin: 0;
    font-size: 1.2em;
}

.ferramenta:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px #00aaff;
    cursor: pointer;
}

/* Projetos */
#projetos {
    background-color: #1a1919f8;
}

.projeto {
    background: linear-gradient(135deg, #3f3e3e 0%, #000000 100%);
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border: 3px solid #00aaff;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: left;
}

.projeto:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px #00aaff;
    cursor: pointer;
}

.projeto a {
    color: #00aaff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.projeto img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.projeto h3 {
    margin: 0;
    font-size: 1.5em;
}

.projeto a:hover h3 {
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
}

.projeto p:hover {
    color: #ffffff;
    cursor: pointer;
}

/* Contato */
#contato {
    background: linear-gradient(145deg, #3f3e3e 0%, #000000 100%);
}

#contato h2 {
    margin-bottom: 30px;
}

#contato p {
    font-size: 1.2em;
}

#contato a {
    color: #00aaff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
    margin: 20px;
}

#contato a:hover {
    color: #ffffff;
    cursor: pointer;
}

#contato h2:hover {
    color: #ffffff;
    cursor: pointer;
}

#contato p:hover {
    color: #ffffff;
    cursor: pointer;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .ferramenta {
        width: 100%;
        max-width: 250px;
    }

    .projeto {
        padding: 20px 10px;
        max-width: 100%;
    }

    .projeto img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 380px) {
    header h1 {
        font-size: 2em;
    }

    header p {
        font-size: 1.2em;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul {
        padding: 10px 0;
    }

    .ferramenta {
        width: 100%;
        max-width: 200px;
        padding: 15px;
    }

    .ferramenta i {
        font-size: 2.5em;
    }

    .projeto img {
        width: 30px;
        height: 30px;
    }

    .projeto h3 {
        font-size: 1.2em;
    }
}
